# Dependencies
lib/
lib_ts/
node_modules/

# Builds
static/bundle.js
static/style.css

# Environments
.env
.venv
env/
venv/

# Python
__pycache__/
*.py[cod]

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
